/* Universal Dark/Cosmo Theme */

body {
    background-color: #020916;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    width: 60%; /* Adjust width as needed */
}

.header {
    margin-bottom: 20px;
    text-align: center;
}

.filter-bar {
    margin-bottom: 30px;
}

.objekt-card {
    margin-bottom: 20px;
    border: none;
    background-color: none;
    border-radius: 5px;
    transition: transform 0.2s;
}

.objekt-card:hover {
    transform: scale(1.03);
}

.objekt-image {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

/* Styles for search bar */
.search-bar input {
    border-radius: 25px;
    text-align: center;
    transition: all 0.3s ease;
}

.search-bar input:focus {
    text-align: left;
    padding-left: 2rem;
}

/* Styles for the dropdown */
#searchResults {
    position: absolute;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    width: 100%;
    z-index: 999; /* To ensure the dropdown appears above other elements */
}

#searchResults ul {
    margin-top: 0;
}

#searchResults li {
    background-color: #333; /* Dark theme color */
    border: 1px solid #666; /* Border color */
}

/* Custom Dropdown CSS */
.dropdown-item.bg-dark {
    background-color: #343a40 !important; /* Bootstrap's dark gray */
}

.dropdown-item.bg-dark:hover,
.dropdown-item.bg-dark:focus {
    background-color: #23272b !important; /* A slightly darker shade for hover/focus */
}

.dark-dropdown {
    background-color: #2a2a2a;
    color: white;
    border: none;
}

.dark-dropdown:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.btn-dark {
    background-color: #333;
    color: #FFF;
}

.btn-dark:hover {
    background-color: #555;
    color: #FFF;
}