/* Universal Dark/Cosmo Theme */

body {
    background-color: #020916;
    color: #FFFFFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    color: #BB86FC;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 2rem;
    width: 60%; /* Adjust width as needed */
}

.header {
    margin-bottom: 20px;
}

.filter-bar {
    margin-bottom: 30px;
}

.objekt-card {
    margin-bottom: 0px;
    border: none;
    background-color: transparent; /* Use transparent instead of none */
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer; /* Indicating that the card is clickable */
}

.objekt-image {
    transition: transform 0.3s; /* This ensures smooth transition for both hover and un-hover */
    width: 100%;
    height: auto;
    margin-bottom: 5px;
    border-radius: 5px 5px 0 0;
    cursor: pointer; /* Indicating that the image is clickable */
}

.objekt-card .objekt-image:hover {
    transform: scale(1.05);
}

.objekt-info p {
    margin-bottom: 5px;
}


/* Styles for search bar */
.search-bar input {
    border-radius: 25px;
    text-align: center;
    transition: all 0.3s ease;
}

.search-bar input:focus {
    text-align: left;
    padding-left: 2rem;
}

/* Styles for the dropdown */
#searchResults {
    position: absolute;
    max-height: 300px; /* Adjust as needed */
    overflow-y: auto;
    width: 100%;
    z-index: 999; /* To ensure the dropdown appears above other elements */
}

#searchResults ul {
    margin-top: 0;
}

#searchResults li {
    background-color: #333; /* Dark theme color */
    border: 1px solid #666; /* Border color */
}

/* Custom Dropdown CSS */
.dropdown-item.bg-dark {
    background-color: #343a40 !important; /* Bootstrap's dark gray */
}

.dropdown-item.bg-dark:hover,
.dropdown-item.bg-dark:focus {
    background-color: #23272b !important; /* A slightly darker shade for hover/focus */
}

.dark-dropdown {
    background-color: #2a2a2a;
    color: white;
    border: none;
}

.dark-dropdown:focus {
    box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.btn-dark {
    background-color: #333;
    color: #FFF;
}

.btn-dark:hover {
    background-color: #555;
    color: #FFF;
}

/* Dark dropdown styling */
.dropdown-menu.dark-dropdown {
    background-color: #2e2e2e; /* Dark background */
    border-color: #555;
}

.dark-dropdown .dropdown-item {
    color: #ddd; /* Light text on dark background */
}

.dark-dropdown .dropdown-item:focus,
.dark-dropdown .dropdown-item:hover {
    background-color: #454545; /* Slightly lighter background for hover/focus */
    color: #fff; /* White text on hover/focus */
}

/* Improved margins and padding */
.checkbox-menu li {
    margin: 0;
    padding: 5px 10px; /* Adjust as needed */
}

.checkbox-menu li label {
    margin-bottom: 0;
    padding-left: 5px;
}

.btn-secondary.dropdown-toggle {
    background-color: #343a40; /* Bootstrap's .bg-dark color */
    border-color: #555;
    color: #ddd;
}

.btn-secondary.dropdown-toggle:hover,
.btn-secondary.dropdown-toggle:focus {
    background-color: #232323; /* Darker version for hover/focus */
    color: #fff;
}