/* Styles for centering content */
html,
body {
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 60%;
    /* Adjust width as needed */
}

/* Styles for search bar */
.search-bar input {
    border-radius: 25px;
    text-align: center;
    transition: all 0.3s ease;
}

.search-bar input:focus {
    text-align: left;
    padding-left: 2rem;
}

/* Styles for the dropdown */
#searchResults {
    position: absolute;
    max-height: 300px;
    /* Adjust as needed */
    overflow-y: auto;
    width: 100%;
    z-index: 999;
    /* To ensure the dropdown appears above other elements */
}

#searchResults ul {
    margin-top: 0;
}

#searchResults li {
    background-color: #333;
    /* Dark theme color */
    border: 1px solid #666;
    /* Border color */
}

/* Custom CSS */
.dropdown-item.bg-dark {
    background-color: #343a40 !important;
    /* Bootstrap's dark gray */
}

.dropdown-item.bg-dark:hover,
.dropdown-item.bg-dark:focus {
    background-color: #23272b !important;
    /* A slightly darker shade for hover/focus */
}