<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Search Users</title>
    <link rel="stylesheet" href="static/css/cosmo-theme.css">
</head>

<body>

    <div class="container text-center">
        <!-- TripleS Header and Slogan -->
        <h1 class="display-3">TripleS</h1>
        <p class="lead">The Idol of all Possibilities</p>

        <!-- Search Form -->
        <div class="search-bar mt-5 position-relative">
            <form action="/" method="post" id="searchForm">
                <div class="form-group">
                    <input type="text" class="form-control bg-dark text-white border-0" id="nickname" name="nickname"
                        placeholder="Search the Cosmos...">

                    <div id="searchResults" class="dropdown-menu dropdown-menu-dark mt-2" aria-labelledby="nickname">
                    </div>
                </div>
            </form>
        </div>

        </form>
    </div>

    <!-- External scripts for Bootstrap -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Custom Script -->
    <script>
        $(document).ready(function () {
            $("#nickname").on("input", function () {
                const query = $(this).val();

                // Enforce minimum search query length of 4
                if (query.length < 4) {
                    $("#searchResults").empty().removeClass('show');
                    return;
                }

                $.get(`/api/search/${query}`, function (data) {
                    if (Array.isArray(data) && data.length) {
                        let htmlResults = '';
                        data.slice(0, 6).forEach(user => {
                            htmlResults += `
                        <a class="dropdown-item" href="/${user.nickname}">
                            ${user.nickname}
                        </a>`;
                        });

                        $("#searchResults").html(htmlResults).addClass('show');
                    } else {
                        console.error("Received unexpected data format:", data);
                    }
                });
            });

            // Directly navigate to user's page on form submission
            $("#searchForm").on("submit", function (e) {
                e.preventDefault();
                const query = $("#nickname").val();
                window.location.href = `/${query}`;
            });
        });
    </script>
</body>

</html>