<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Objekts</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="static/css/cosmo-theme.css">
</head>

<body>
    <div class="container mt-5">
        <div class="header">
            <h1 id="userName">Loading Username...</h1>
            <h2 id="objektCount">Loading Objekts...</h2>
        </div>        

        <div class="filter-bar d-flex justify-content-between">
            <select id="memberFilter" class="form-select dark-dropdown">
                <option selected value="">Filter by Member</option>
                <!-- Options populated dynamically -->
            </select>
            <select id="seasonFilter" class="form-select dark-dropdown">
                <option selected value="">Filter by Season</option>
                <!-- Options populated dynamically -->
            </select>
            <select id="classFilter" class="form-select dark-dropdown">
                <option selected value="">Filter by Class</option>
                <!-- Options populated dynamically -->
            </select>
            <select id="transferableFilter" class="form-select dark-dropdown">
                <option selected value="">Filter by Transferability</option>
                <option value="true">Transferable</option>
                <option value="false">Non-Transferable</option>
            </select>
        </div>

        <div id="objektGrid" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-5 g-4">
            <!-- Objekts will be appended here -->
        </div>
    </div>

    <script src="static/js/filtering.js"></script>
</body>

</html>
